<ul>
    <li *ngFor="let com of Comments">
        <div #comid id={{com.CommentId}}>
            <strong>{{com.Data}}</strong>
            <input #in type="text" (keyup.enter)="AddSubComment(in,comid)" placeholder="Відповісти" >
            <div style="display: inline-table;">
                <button (click)="AddSubComment(in,comid) ">✓</button>
                <button class="delete" (click)="Remove(comid.id)">✘</button>
            </div>
        </div>
        <ul>
            <li *ngFor="let comm of com.SubComments">
                <div #sucomid id={{comm.SubCommentId}}>
                    <strong>{{comm.Data}}</strong>
                    
                    <div style="display: inline-table;">
                        <button class="delete" (click)="suremove(sucomid.id)">✘</button>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <input #in type="text" style="width: 100%;" (keyup.enter)="AddComment(in,comid)" placeholder="Залишити коментар" >
</ul>

